<phpunit
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         displayDetailsOnPhpunitDeprecations="true"
         displayDetailsOnTestsThatTriggerDeprecations="true"
         bootstrap="vendor/autoload.php">
    <testsuite name="Unit tests">
        <directory>tests/</directory>
    </testsuite>
</phpunit>